@import "componentes";

.grid__contactus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;

  .grid__contactus header {
    grid-area: header;
  }

  .grid__contactus main {
    grid-area: main;
  }

  .grid__contactus footer {
    grid-area: footer;
  }
}

.contact__container {
  background-color: map-get($map: $colores, $key: crema);
  border: 2px solid map-get($map: $colores, $key: cremaOscura);
  border-radius: 20px;
  width: 90%;
  min-width: 90%;
  max-height: none;
  margin: 1rem auto auto auto;
  padding: 1.5rem 0px;
  text-align: center;

  .contact__title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .contact__form {
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 5px rgba(0, 140, 255, 0.647);
    }
  }

  .contact__formText {
    width: 12rem;
    height: 2rem;
  }

  .contact__formTextMargin {
    margin: 0;
  }

  .contact__formMail {
    width: 12rem;
    margin-bottom: 0.2rem;
    height: 2rem;
  }

  .contact__formSubmit {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(42, 42, 71);
    width: 7rem;
    height: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: rgb(242, 182, 0);
      width: 7.5rem;
      height: 2.2rem;
      font-size: 1.1rem;
      box-shadow: 0px 0px 8px rgb(255, 191, 0);
    }
  }

  .contact__img {
    width: 10rem;
    margin: 0;
    padding: 0.5rem 0;
  }
}

@media (min-width: 320px) {
  .contact__container {
    width: 90%;
    min-width: 90%;
    max-height: none;
    margin: 1rem auto auto auto;
    padding: 1.5rem 0px;

    .contact__title {
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
    .contact__form {
      margin-bottom: 0;
    }
    .contact__formMail {
      width: 15rem;
      margin-bottom: 0.2rem;
    }
    .contact__formText {
      width: 15rem;
    }
    .contact__formTextMargin {
      margin: 0;
    }
    .contact__img {
      width: 5rem;
      margin: 0;
      padding: 0.5rem 0;
    }
  }
}

@media (min-width: 543px) {
  .contact__container {
    width: 90%;
    min-width: 90%;
    max-height: none;
    margin: 1rem auto auto auto;
    padding: 1.5rem 0px;

    .contact__title {
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
    .contact__form {
      margin-bottom: 0;
    }
    .contact__formMail {
      width: 30.3rem;
      margin-bottom: 0.2rem;
    }
    .contact__formText {
      width: 15rem;
    }
    .contact__formTextMargin {
      margin: 0;
    }
    .contact__img {
      width: 5rem;
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }
}

@media (min-width: 1024px) {
  .contact__container {
    width: 50%;
    min-width: 45%;
    max-height: 80%;
    margin: 7rem auto auto auto;
    padding: 1.5rem 0px;

    .contact__title {
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
    .contact__form {
      margin-bottom: 0;
    }
    .contact__formMail {
      width: 30.3rem;
      margin-bottom: 0.2rem;
    }
    .contact__formText {
      width: 15rem;
    }
    .contact__formTextMargin {
      margin: 0;
    }
    .contact__img {
      width: 10rem;
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }
}
