@import "componentes";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: map-get($map: $colores, $key: crema);
  border-bottom: 2px solid map-get($map: $colores, $key: cremaOscura);

  .nav__img {
    height: 5rem;
  }

  .nav__ul {
    align-items: center;
    list-style-type: none;
    font-size: 1.3rem;
    visibility: hidden;
    display: none;

    li {
      margin-right: 1.5rem;
    }
  }

  .nav__ulAnim {
    color: rgba(48, 48, 71, 0.6);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: map-get($map: $colores, $key: font);
      font-weight: bold;
    }
  }
}

.burguer__menu {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.mobile__menu {
  @extend .nav;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.3rem;
  border-bottom: 0.15rem solid map-get($map: $colores, $key: cremaOscura);
}

/* Media Query para header/nav */

@media (min-width: 1024px) {
  .mobile__menu {
    visibility: hidden;
    display: none;
  }
  .burguer__menu {
    visibility: hidden;
    display: none;
  }
  .nav .nav__ul {
    display: flex;
    visibility: visible;
  }
  .header {
    position: sticky;
    top: 0;
  }
}
