@import "header";
@import "index";
@import "footer";
@import "componentes";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: map-get($map: $colores, $key: font);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  background-color: map-get($map: $colores, $key: cremaClara);
}

hr {
  border: 1px solid map-get($map: $colores, $key: cremaOscura);
}

.inThisPage {
  font-weight: 700;
}
